@use '../mixins/hover.scss' as *;
.button {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  background-color: var(--dark-blue);
  border-radius: 28px;
  padding-inline: 24px;
  padding-block: 16px;
  @include hover {
    background-image: none;
    background-color: var(--light-blue);
  }

  &--gradient-01 {
    background-image: var(--gradient-01);
    @include hover {
      background-image: none;
      background-color: var(--light-blue);
    }
  }
  &__link {
    color: var(--pink);
    font-weight: 700;
    font-size: 18px;
  }
  &--gradient-02 {
    color: white;
    border-radius: 28px;
    padding-inline: 24px;
    padding-block: 16px;
    background-image: var(--gradient-02);
    @include hover {
      background-image: none;
      background-color: var(--light-blue);
    }
  }
}
