.button {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  background-color: var(--dark-blue);
  border-radius: 28px;
  padding-inline: 24px;
  padding-block: 16px;

  &--gradient-01 {
    background-image: var(--gradient-01);
  }
  &__link {
    color: var(--pink);
    font-weight: 700;
    font-size: 18px;
  }
  &--gradient-02 {
    color: white;
    border-radius: 28px;
    padding-inline: 24px;
    padding-block: 16px;
    background-image: var(--gradient-02);
  }
}
