@use '../mixins/resposive.scss' as *;

.header {
  margin: 16px 16px 0 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: hidden;

  @include responsive(tablet) {
    margin: 0;
  }
  &__top {
    height: 48px;
    width: 343px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
    @include responsive(tablet) {
      width: 689px;
    }
    @include responsive(laptop) {
      width: 1110px;
      margin-inline: auto;
    }
  }

  &__logo {
    width: 89px;
  }
  &__container {
    width: 343px;
    background-color: yellow;
    @include responsive(tablet) {
      margin-left: 39px;
      width: 398px;
      height: 284px;
    }
    @include responsive(laptop) {
      margin-left: 165px;
      width: 457px;
      height: 359px;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 40px;
  }
  &__image {
    align-items: center;
    @include responsive(tablet) {
      position: absolute;
      width: 640.71px;
      top: -300px;
      right: -280px;
      @include responsive(laptop) {
        width: 991.63px;
        height: 936.92px;
        top: -1900px;
        right: -280px;
      }
    }
  }
}
