:root {
  --light-blue: #666CA3;
  --dark-blue: #13183F;
  --gray: #83869A;
  --pink: #F75780;
  --soft-pink: #ffa7c3;
  --gradient-01: (#F02AA6, #FF6F48);
  --gradient-02: (#4851FF, #F02AA6);
  /* Variables CSS */
}

/* Variables SASS */
